<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid container">
    <a class="navbar-brand" href="{{ url_for('home') }}">
        <!-- <img src="caminho/da/imagem" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        Comunidade impresionadora
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usuarios') }}">Usuários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contatos') }}">Contato</a>
        </li>
        </ul>
        <ul class="navbar-nav">
        </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('criar_post') }}">Criar Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sair') }}">Sair</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Criar conta</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>